@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slow-spin 5s linear infinite;
}
.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease;
}
@layer utilities {
  .lamp-effect {
    position: relative;
    display: inline-block;
    color: #fff;
    text-shadow: 0 0 5px #4ade80, 0 0 10px #3b82f6, 0 0 15px #4ade80;
    animation: lamps 1.5s infinite alternate;
  }

  @keyframes lamps {
    0% {
      text-shadow: 0 0 5px #4ade80, 0 0 10px #3b82f6, 0 0 15px #4ade80;
    }
    50% {
      text-shadow: 0 0 8px #4ade80, 0 0 16px #3b82f6, 0 0 24px #4ade80;
    }
    100% {
      text-shadow: 0 0 5px #4ade80, 0 0 10px #3b82f6, 0 0 15px #4ade80;
    }
  }
}
